coverage
node_modules
.vscode/
test-results/
junit.xml
.huskyrc

# Built artifacts
e2e/**/*.d.ts
e2e/**/*.js
examples/**/*.d.ts
examples/**/*.js
imports/**/*.d.ts
imports/**/*.js
lib/**/*.d.ts
lib/**/*.js
test/**/*.d.ts
test/**/*.js
*.tgz

# CDK8s output
dist/
dist-*/

# DETIK
e2e/lib/detik.bash
e2e/lib/linter.bash
e2e/lib/utils.bash
